@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Responsive */
:root {
  --white: #fff;
  --black: #000;
  --grey: hsl(0, 0%, 95%);
  --primary: hsl(4, 62%, 53%);
  --heading-ff: "Bebas Neue";
  --title-ff: "Bebas Neue";
  --body-ff: "Montserrat";
  --heading-font-size: 4.5rem;
  --title-font-size: 1.5rem;
  --body-font-size: 1.25rem;
  --heading-font-weight: 400;
  --title-font-weight: 400;
  --body-font-weight: 400;
  --body-highlight-font-weight: 600;
  --heading-line-height: 5.375rem;
  --title-line-height: 1.75rem;
  --body-line-height: 1.5rem;
  /* Responsive */
  --heading-font-size-sm: 2.5rem;
  --title-font-size-sm: 1.25rem;
  --body-font-size-sm: 1rem;
  --heading-line-height-sm: 3rem;
  --title-line-height-sm: 1.5rem;
  --body-line-height-sm: 1.25rem;
}

* {
  padding: 0;
}

body {
  background-color: var(--grey);
  font-family: var(--body-ff), sans-serif;
  font-style: normal;
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size-sm);
  line-height: var(--body-line-height-sm);
  color: var(--black);
}

h1 {
  font-family: var(--heading-ff), sans-serif;
  font-style: normal;
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-font-size-sm);
  line-height: var(--heading-line-height-sm);
  color: var(--black);
  margin: 0;
}

h2, h3 {
  font-family: var(--title-ff), sans-serif;
  font-style: normal;
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size-sm);
  line-height: var(--title-line-height-sm);
  color: var(--black);
  text-decoration: underline var(--primary);
  text-decoration-thickness: 0.1875rem;
  text-underline-offset: 0.25rem;
}

section {
  margin: 0.9375rem 0;
  padding: 0.9375rem 1.25rem;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Utility classes */
.highlight {
  font-weight: var(--body-highlight-font-weight);
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* Responsive */
@media (min-width: 1024px) {
  body {
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
  }
  h1 {
    font-size: var(--heading-font-size);
    line-height: var(--heading-line-height);
  }
  h2, h3 {
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
  }
  section {
    margin: 1.875rem 0;
    padding: 1.875rem 3.75rem;
  }
}
@layer base {
  /*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
  /*
  Document
  ========
  */
  /**
  Use a better box model (opinionated).
  */
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  /**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the line height in all browsers.
  3. Prevent adjustments of font size after orientation changes in iOS.
  4. Use a more readable tab size (opinionated).
  */
  html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 1 */
    line-height: 1.15; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    tab-size: 4; /* 4 */
  }
  /*
  Sections
  ========
  */
  /**
  Remove the margin in all browsers.
  */
  body {
    margin: 0;
  }
  /*
  Text-level semantics
  ====================
  */
  /**
  Add the correct font weight in Chrome and Safari.
  */
  b,
  strong {
    font-weight: bolder;
  }
  /**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the odd 'em' font sizing in all browsers.
  */
  code,
  kbd,
  samp,
  pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  /**
  Add the correct font size in all browsers.
  */
  small {
    font-size: 80%;
  }
  /**
  Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
  */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  /*
  Tabular data
  ============
  */
  /**
  Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
  */
  table {
    border-color: currentcolor;
  }
  /*
  Forms
  =====
  */
  /**
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  /**
  Correct the inability to style clickable types in iOS and Safari.
  */
  button,
  [type=button],
  [type=reset],
  [type=submit] {
    -webkit-appearance: button;
  }
  /**
  Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
  */
  legend {
    padding: 0;
  }
  /**
  Add the correct vertical alignment in Chrome and Firefox.
  */
  progress {
    vertical-align: baseline;
  }
  /**
  Correct the cursor style of increment and decrement buttons in Safari.
  */
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  /**
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */
  [type=search] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  /**
  Remove the inner padding in Chrome and Safari on macOS.
  */
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  /**
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to 'inherit' in Safari.
  */
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  /*
  Interactive
  ===========
  */
  /*
  Add the correct display in Chrome and Safari.
  */
  summary {
    display: list-item;
  }
}
header {
  position: sticky;
  top: 0;
}

.navbar {
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  gap: 2rem;
  /* si l'élément input est coché, 
   * cache l'icône menu est affiche l'icône fermé
   */
}
.navbar__logo img {
  width: 4.5rem;
  height: 4.5rem;
}
.navbar__icons {
  cursor: pointer;
  font-size: 1.75rem;
}
.navbar #close-icon {
  display: none;
}
.navbar #toggle-menu {
  display: none;
}
#toggle-menu:checked ~ .navbar__icons #menu-icon {
  display: none;
}
#toggle-menu:checked ~ .navbar__icons #close-icon {
  display: block;
}
.navbar ul {
  list-style: none;
  background-color: hsla(244, 7%, 53%, 0.3);
  backdrop-filter: blur(15px);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  z-index: 2;
  margin: 0;
  transition: height 0.5s ease;
}
.navbar #toggle-menu:checked ~ ul {
  height: 10.625rem;
}
.navbar__link {
  font-family: var(--body-ff), sans-serif;
  font-style: normal;
  font-weight: var(--body-highlight-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}
.navbar__link:hover, .navbar__link.active {
  text-decoration: underline var(--primary);
  text-decoration-thickness: 0.1875rem;
  text-underline-offset: 0.25rem;
}
@media (min-width: 768px) {
  .navbar {
    justify-content: flex-start;
  }
  .navbar__icons {
    display: none;
  }
  .navbar ul,
  .navbar #toggle-menu:checked ~ ul {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    flex-direction: row;
    justify-content: flex-start;
    background: none;
    backdrop-filter: none;
  }
}

.footer {
  background-color: var(--black);
  padding: 2.5rem 1rem;
}
.footer .f-nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}
.footer .f-nav li {
  margin-right: 1rem;
}
.footer .f-nav__icon {
  font-size: 1.5rem;
  color: var(--white);
}
.footer .f-nav__icon:hover {
  color: var(--grey);
}

.section__cta {
  background-color: var(--primary);
}
.section__cta .highlight {
  margin: 0 0 1rem 0;
  color: var(--white);
}

a.btn {
  font-family: var(--title-ff), sans-serif;
  font-style: normal;
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size-sm);
  line-height: var(--title-line-height-sm);
  color: var(--white);
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(--black);
  padding: 0.75rem 2rem;
  display: inline-block;
}
a.btn:hover {
  color: rgb(229.5, 229.5, 229.5);
  background-color: rgb(38.25, 38.25, 38.25);
}
@media (min-width: 1024px) {
  a.btn {
    padding: 1rem 2.5rem;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
  }
}

#page__home section:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
#page__home section:first-child div {
  width: 100%;
}
#page__home section:first-child p {
  margin: 1rem 0;
}
#page__home section:first-child span {
  color: var(--primary);
}
#page__home section:first-child img {
  width: 14.5rem;
  margin: 0 auto;
}
#page__home section:nth-child(2) div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#page__home section:nth-child(2) p, #page__home section:nth-child(4) p {
  text-align: left;
}
#page__home section:nth-last-child(2) .img-container {
  margin: 2rem auto 0;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4.375rem;
}
@media (min-width: 768px) {
  #page__home section:first-child {
    flex-direction: row;
    row-gap: 0;
  }
}
@media (min-width: 1024px) {
  #page__home section:first-child .btn {
    margin-top: 1.5rem;
  }
  #page__home section:nth-child(2) div {
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
  }
}
@media (min-width: 1200px) {
  #page__home section:first-child {
    max-width: 1200px;
    margin-inline: auto;
  }
}

#page__contact section:has(h1) h1 {
  margin-bottom: 1.25rem;
}
#page__contact section:has(h1) div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1024px) {
  #page__contact section:has(h1) h1 {
    margin-bottom: 2.5rem;
  }
  #page__contact section:has(h1) div {
    flex-direction: row;
    gap: 2.5rem;
    text-align: left;
  }
}

#page__menu section:has(h1) {
  margin-bottom: 0;
  /* Responsive */
}
#page__menu section:has(h1) div:first-child {
  text-align: left;
  margin-bottom: 2rem;
}
#page__menu section:has(h1) div:first-child p {
  margin: 0;
}
#page__menu section:has(h1) div:first-child span {
  color: var(--primary);
}
#page__menu section:has(h1) div:last-child {
  max-width: 1200px;
  background-color: var(--white);
  padding: 0.9375rem 1rem;
}
#page__menu section:has(h1) div:last-child img {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
}
#page__menu section:has(h1) div:last-child article {
  margin-bottom: 1.75rem;
}
#page__menu section:has(h1) div:last-child h3 {
  text-decoration: underline var(--primary);
  text-decoration-thickness: 0.1875rem;
  text-underline-offset: 1.25rem;
  margin-bottom: 2rem;
}
@media (min-width: 1024px) {
  #page__menu section:has(h1) div:first-child {
    margin-bottom: 2.5rem;
  }
  #page__menu section:has(h1) div:last-child article {
    margin-bottom: 3.75rem;
  }
  #page__menu section:has(h1) div:last-child h3 {
    margin-bottom: 3rem;
  }
  #page__menu section:has(h1) div:last-child p.highlight {
    margin-top: 3rem;
  }
}
@media (min-width: 1200px) {
  #page__menu section:has(h1) div:last-child {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
