@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --grey: hsl(0, 0%, 95%);
  --primary: hsl(4, 62%, 53%);
  --heading-ff: "Bebas Neue";
  --title-ff: "Bebas Neue";
  --body-ff: "Montserrat";
  --heading-font-size: 4.5rem;
  --title-font-size: 1.5rem;
  --body-font-size: 1.25rem;
  --heading-font-weight: 400;
  --title-font-weight: 400;
  --body-font-weight: 400;
  --body-highlight-font-weight: 600;
  --heading-line-height: 5.375rem;
  --title-line-height: 1.75rem;
  --body-line-height: 1.5rem;
}

* {
  padding: 0;
}

body {
  background-color: var(--grey);
  font-family: var(--body-ff), sans-serif;
  font-style: normal;
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--black);
}

h1 {
  font-family: var(--heading-ff), sans-serif;
  font-style: normal;
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  color: var(--black);
}

h2 {
  font-family: var(--title-ff), sans-serif;
  font-style: normal;
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  color: var(--black);
  text-decoration: underline var(--primary);
  text-decoration-thickness: 0.1875rem;
  text-underline-offset: 0.25rem;
}

section {
  margin: 1.875rem 0;
}

@layer base {
  /*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
  /*
  Document
  ========
  */
  /**
  Use a better box model (opinionated).
  */
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  /**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the line height in all browsers.
  3. Prevent adjustments of font size after orientation changes in iOS.
  4. Use a more readable tab size (opinionated).
  */
  html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 1 */
    line-height: 1.15; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    tab-size: 4; /* 4 */
  }
  /*
  Sections
  ========
  */
  /**
  Remove the margin in all browsers.
  */
  body {
    margin: 0;
  }
  /*
  Text-level semantics
  ====================
  */
  /**
  Add the correct font weight in Chrome and Safari.
  */
  b,
  strong {
    font-weight: bolder;
  }
  /**
  1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
  2. Correct the odd 'em' font sizing in all browsers.
  */
  code,
  kbd,
  samp,
  pre {
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  /**
  Add the correct font size in all browsers.
  */
  small {
    font-size: 80%;
  }
  /**
  Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
  */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  /*
  Tabular data
  ============
  */
  /**
  Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
  */
  table {
    border-color: currentcolor;
  }
  /*
  Forms
  =====
  */
  /**
  1. Change the font styles in all browsers.
  2. Remove the margin in Firefox and Safari.
  */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  /**
  Correct the inability to style clickable types in iOS and Safari.
  */
  button,
  [type=button],
  [type=reset],
  [type=submit] {
    -webkit-appearance: button;
  }
  /**
  Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
  */
  legend {
    padding: 0;
  }
  /**
  Add the correct vertical alignment in Chrome and Firefox.
  */
  progress {
    vertical-align: baseline;
  }
  /**
  Correct the cursor style of increment and decrement buttons in Safari.
  */
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  /**
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
  */
  [type=search] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  /**
  Remove the inner padding in Chrome and Safari on macOS.
  */
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  /**
  1. Correct the inability to style clickable types in iOS and Safari.
  2. Change font properties to 'inherit' in Safari.
  */
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  /*
  Interactive
  ===========
  */
  /*
  Add the correct display in Chrome and Safari.
  */
  summary {
    display: list-item;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  padding: 1rem 0 1rem 3rem;
  gap: 2rem;
}
.navbar__icon {
  width: 4.5rem;
  height: 4.5rem;
}
.navbar__link {
  font-family: var(--body-ff), sans-serif;
  font-style: normal;
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--black);
  text-decoration: none;
}
.navbar__link:hover, .navbar__link.active {
  text-decoration: underline var(--primary);
  text-decoration-thickness: 0.1875rem;
  text-underline-offset: 0.25rem;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.navbar ul li {
  margin-right: 1rem;
}

.footer {
  background-color: var(--black);
  padding: 2.5rem 1rem;
}
.footer .f-nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}
.footer .f-nav li {
  margin-right: 1rem;
}
.footer .f-nav__icon {
  width: 2.25rem;
  height: 2.25rem;
  color: var(--white);
}
.footer .f-nav__icon:hover {
  color: var(--grey);
}

.section-cta {
  background-color: var(--primary);
  padding: 3.75rem 0;
  text-align: center;
}
.section-cta .highlight {
  margin: 0 0 1rem 0;
  font-family: var(--body-ff), sans-serif;
  font-style: normal;
  font-weight: var(--body-highlight-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--white);
}

a.btn {
  font-family: var(--title-ff), sans-serif;
  font-style: normal;
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  color: var(--white);
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(--black);
  padding: 1rem 2.5rem;
  display: inline-block;
}
a.btn:hover {
  color: rgb(229.5, 229.5, 229.5);
  background-color: rgb(38.25, 38.25, 38.25);
}

/*# sourceMappingURL=style.css.map */
