$colors: (
    "white": #fff,
    "black": #000,
    "grey": hsl(0, 0%, 95%),
    "primary": hsl(4, 62%, 53%),
);
$font-weight: (
    "header": 400,
    "title": 400,
    "body": 400,
    "body-highlight": 600
);
$font-size: (
    "header": 4.5rem,
    "title": 1.5rem,
    "body": 1.25rem,
);
$line-height: (
    "header": 5.375rem,
    "title": 1.75rem,
    "body": 1.5rem,
);