@use '../utils/fonctions' as fun;
@use '../utils/mixins' as m;

.page__contact{
    // Section adresses
    .section__cta + section{
        h1{
            margin-bottom: fun.convertToRem(40) ;
        }
        div{
            display: flex;
            justify-content: center;
            gap: fun.convertToRem(40);
            text-align: left;
        }
    }
    // section contact balise <strong>
    strong.highlight{
        font-weight: var( --body-highlight-font-weight);
    }
}