@use '../utils/fonctions' as fun;
@use '../utils/mixins' as m;

#page__contact{
    // Section adresses
    & section:has(h1){
        h1{
            margin-bottom: fun.convertToRem(20);
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @include m.lg{
            h1{
                margin-bottom: fun.convertToRem(40);  
            }
            div{
                flex-direction: row;
                gap: fun.convertToRem(40);
                text-align: left;
            }
        }
    }
}