@use '../utils/fonctions' as fun;

#page__home{
    // Hero Section
    & section:first-child{
        display: flex;
        align-items: center;
        & div{
            width: 100%;
        }
        & span{
            color: var(--primary);
        }
        & img{
            width: 50%;
        }
        & .btn{
            margin-top: fun.convertToRem(24);
        }
    }
    // Section adresses
    & section:nth-child(2) div{
        display: flex;
        justify-content: center;
        gap: fun.convertToRem(40);
    }
    // Paragraphes section adresses et a propos
    & section:nth-child(2) p,
    & section:nth-child(4) p{
        text-align: left;
    }
    // Section réseaux
    & section:nth-last-child(2){
        & .img-container{
            margin: fun.convertToRem(32) auto 0;
            max-width: 900px;
            display: flex;
            flex-direction: column;
            gap: fun.convertToRem(70);
        }
        & .col{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: fun.convertToRem(70);
        }
    }     
}
