@use '../utils/fonctions' as fun;
@use '../utils/mixins' as m;

#page__menu{
    // Section menu
    .section__cta + section{
        margin-bottom: 0;
        // Intro
        & div:first-child{
            text-align: left;
            margin-bottom: fun.convertToRem(40);
            & p {
                margin: 0;
            }
            & span{
                color: var(--primary);
            }
        }
        // Menu
        & div:last-child{
            background-color: var(--white);
            padding: fun.convertToRem(30) fun.convertToRem(24);
            & article{
                margin-bottom: fun.convertToRem(60);
            }
            & img{
                width: fun.convertToRem(128);
                height: fun.convertToRem(128);
            }
            & h3{
                @include m.text-underline($offset: fun.convertToRem(20));
                margin-bottom: fun.convertToRem(48);
            }
            & p.highlight{
                margin-top: fun.convertToRem(48);
            }
        }
    }
}