@use './fonts' as f;
@use '../utils/variables' as v;
@use '../utils/fonctions' as fun;
@use '../utils/mixins' as m;
:root{
    // Couleurs
    @each $color, $value in v.$colors{
        --#{$color}: #{$value};
    }
    // Font-family
    @each $selecteur, $font in f.$ff{
        --#{$selecteur}-ff: "#{$font}";
    }
    // Font-size
    @each $selecteur, $value in v.$font-size{
        --#{$selecteur}-font-size: #{$value};
    }
    // Font-weight
    @each $selecteur, $value in v.$font-weight{
        --#{$selecteur}-font-weight: #{$value};
    }
    // Line-height
    @each $selecteur, $value in v.$line-height{
        --#{$selecteur}-line-height: #{$value};
    }
}
*{
    padding: 0;
}
body{
    background-color: var(--grey);
    @include m.text-config(   
        $font: var(--body-ff), 
        $fw: var( --body-font-weight),
        $fs: var( --body-font-size),
        $l-height: var(--body-line-height),
        $clr: var(--black)
    );
}
h1{
    @include m.text-config(   
        $font: var(--heading-ff), 
        $fw: var( --heading-font-weight),
        $fs: var( --heading-font-size),
        $l-height: var(--heading-line-height),
        $clr: var(--black)
    );
    margin: 0;
}
h2, h3{
    @include m.text-config(   
        $font: var(--title-ff), 
        $fw: var( --title-font-weight),
        $fs: var( --title-font-size),
        $l-height: var(--title-line-height),
        $clr: var(--black)
    );
    @include m.text-underline;
}
section{
    margin: fun.convertToRem(30) 0;
    padding: fun.convertToRem(30) fun.convertToRem(60);
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}
.highlight{
    font-weight: var(--body-highlight-font-weight);
}